.results2{
    margin-top: 1%;
    border: 10px solid darkslategray;
    border-radius: 20px;
    box-shadow: 5px 5px #071a1a;
    flex-basis: 20%;
    text-align: justify;
    background-color: #082929;
    padding:5px;
    width: 80%;
    margin-left:10% ;


}
.results3{
    margin-left:45% ;
    margin-top: 1%;
    border: 10px solid darkslategray;
    border-radius: 20px;
    box-shadow: 5px 5px #071a1a;
    flex-basis: 20%;
    text-align: justify;
    background-color: #082929;
    padding:5px;
    width:10%;
}